/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

div.new-expense-form {
	
	background: #fbfbfb;
	border: 1px solid #ddd;
	padding: 7px;
	margin-bottom: 20px;

	.errors {
		font-size: 14px;
		color: #ff0000;
		padding-bottom:7px;
	}

	form {
		color: #676767;
		font-size: 18px;
		
		span {
			vertical-align: middle;
		}
	}
}