<h2>Výdavky</h2>

<%= render partial: 'shared/add_expense_form' %>

<table cellpadding="0" cellspacing="0" width="100%" class="sortable" id="expenses-list">
  <thead>
    <tr>
      <th>Suma</th>
      <th>Dátum</th>
      <th>Kategórie</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: @expenses %>
  </tbody>
</table>

<br />

<%= link_to 'Pridať výdavok', new_expense_path %>
